/******************************************************************************
 *  App-Wide Variables & mixins
 *****************************************************************************/
 $primary: cyan;
 $primary-light: #B2DFDB;
 $primary-dark: #00695C;

 $accent: #FF5252;

 $placeholder-color: #BEBEBE;


/******************************************************************************
 *  Fonts
 *****************************************************************************/
 @import url(http://fonts.googleapis.com/css?family=Roboto:400,700);




 /******************************************************************************
  *  App-Wide Styles
  *****************************************************************************/
  body {
    font-family: Roboto, sans-serif;
  }




