.audio-player {

  .card {
    height: 80%;
  }
  
  .track-info {
    height: 80%;
    text-align: center;
  }
  

  .playback-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    position: relative;
    height: 20%;
    bottom: 0;

    .control {
      font-size: 3em;
      color: $primary;

      &:hover {
        cursor: pointer;
      }
    }
  }
}